html, body {
    overflow: hidden;
    height: 100%;
    font-family: "Luckiest Guy", cursive;
    color: #fff;

}
body {
  margin: 0;
  padding: 1.25rem;
  background: #fff
    url("https://images.pexels.com/photos/172276/pexels-photo-172276.jpeg?cs=srgb&dl=pexels-fwstudio-33348-172276.jpg&fm=jpg")
    no-repeat center center;
  background-size: cover;
}

#website {
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color: rgb(30, 136, 31);
    border-radius: 10px;
}

#gameBoard {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: larger;
    padding: 20px;
    margin-top: 0%;
    
} Área do Jogador
#gameBoard h1 {
    color: white;
    font-weight: 400;
    font-style: normal;
    
}

#buttons {
  height: 12%;
}

#resetButton{
    font-size: 35px;
    margin: 20px;
    font-family: "Luckiest Guy", cursive;

}

#gameBoard {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.25rem;
  padding: 3rem;
}
#gameBoard h1 {
  text-align: center;
  color: white;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
#log p{
    color: black;
}

#houseBoard {
    border: 8px double black;
    border-radius: 25px;
    width: 95%;
    height: 20%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.134);
}

#playerBoard {
    border: 8px double black;
    border-radius: 25px;
    width: 95%;
    height: 20%;
    text-align: center;
    background-color:  rgba(255, 255, 255, 0.134);

}

#central {
    display: flex;
    justify-content: space-around;
    border: 8px double black;
    border-radius: 25px;
    width: 95%;
    height: 23%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.134);
}

#deck {
    margin-top: -2.5%;
    height:130%; 
}

.card {
  height: 7.5rem;
}
